.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid rgb(127, 218, 218);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    position: fixed; /* Use fixed so it stays in place even when scrolling */
    top: 45%;        /* Position from the top 50% of the viewport height */
    left: 50%;  
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}